/tmp/RtmpeYjF5B/rdhs/rdhs.json
/tmp/Rtmp5maAaW/rdhs/rdhs.json
/tmp/Rtmpn4iafb/rdhs/rdhs.json
/home/adamh/.cache/rdhs/rdhs.json
.Rproj.user
jeff/
.Rhistory
.here

stan/model[0-9].rds

tmb/model[0-9].o
tmb/model[0-9].so